
@{
    ViewData["Title"] = "Index";
}
@model SpaViewModel
<!-- Spa-Wellness Slider -->
@if (Model.SpaSliders.Any())
{
    <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
        @await Component.InvokeAsync("SpaSlider")
        </div>
        <!-- arrow down -->
        <div class="arrow bounce text-center">
            <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
        </div>
    </header>
}
<!-- Spa-Wellness Content -->
@await Component.InvokeAsync("SpaWelness")
<!-- Services -->
@if (Model.Services.Any())
{
    <section class="services section-padding2">
        <div class="container">
            @await Component.InvokeAsync("Services")
        </div>
    </section>
}