@model IEnumerable<Slider>
@foreach(var item in Model)
{
    <div class="text-center item bg-img" data-overlay-dark="2" data-background="../../assets/img/slider/@item.Image">
        <div class="v-middle caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <span>
                            <i class="star-rating"></i>
                            <i class="star-rating"></i>
                            <i class="star-rating"></i>
                            <i class="star-rating"></i>
                            <i class="star-rating"></i>
                        </span>
                        <h4>@item.Title</h4>
                        <h1>@item.Description</h1>
                        <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Rooms & Suites</span></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}