@model IEnumerable<Employee>
@foreach(var item in Model)
{
        <div class="item">
            <div class="img">
                <img src="~/assets/img/employee/@item.Image" alt="">
            </div>
            <div class="info">
                <h6>@item.Name @item.Surname</h6>
                <p>@item.Profession.Name</p>
            </div>
        </div>
}