@model IEnumerable<Room>
@foreach(var item in Model)
{
    <div class="col-md-4">
        <div class="item">
            <div class="position-re o-hidden"> 
                <img width="100%" src="~/assets/img/room/@item.RoomImages.Where(x=>x.IsMain==true).FirstOrDefault().Image" alt=""> 
                </div> 
                <span class="category"><a href="rooms2.html">Book</a></span>
            <div class="con">
                <h5>@item.RoomType.Name</h5>
                <div class="line"></div>
            </div>
            <div>
                <a asp-controller="Order" asp-action="Index">Book Now</a>
            </div>
        </div>
    </div>
}
