
@{
    ViewData["Title"] = "Index";
}
<!-- Restaurant Slider -->
@model RestaurantViewModel
@if (Model.Sliders.Any())
{
    <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
        @await Component.InvokeAsync("RestaurantSlider")
        </div>
        <!-- arrow down -->
        <div class="arrow bounce text-center">
            <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
        </div>
    </header>
}
@await Component.InvokeAsync("Restaurant")