
@{
    ViewData["Title"] = "Index";
}
@model   HomeVM
    <!-- Slider -->
@if (Model.Sliders.Any())
{
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
        @await Component.InvokeAsync("Slider")
        </div>
    </header>
}
<!-- About -->
    @await Component.InvokeAsync("About")
    <!-- Rooms -->
@if (Model.RoomTypes.Any())
{
    <section class="rooms1 section-padding bg-cream" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">The Cappa Luxury Hotel</div>
                    <div class="section-title">Rooms & Suites</div>
                </div>
            </div>
            <div class="row">
                @await Component.InvokeAsync("RoomType")
            </div>
        </div>
    </section>
}
<!-- Promo Video -->
    <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="3" data-background="../../assets/img/slider/2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <span><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i></span>
                    <div class="section-subtitle"><span>The Cappa Luxury Hotel</span></div>
                    <div class="section-title"><span>Promotional Video</span></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                <a class="vid" href="https://www.youtube.com/watch?v=zr4r3n5Smho">
                        <div class="vid-butn">
                            <span class="icon">
                                <i class="ti-control-play"></i>
                            </span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- Facilties -->
@if (Model.Facilities.Any())
{
    <section class="facilties section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Our Services</div>
                    <div class="section-title">Hotel Facilities</div>
                </div>
            </div>
            <div class="row">
                @await Component.InvokeAsync("Facility")
            </div>
        </div>
    </section>
}
<!-- Services -->
@if(Model.Services.Any())
{
    <section class="services section-padding">
        <div class="container">
            @await Component.InvokeAsync("Services")
        </div>
    </section>

}