@model Dictionary<string,string>
<!-- Preloader -->
<div class="preloader-bg"></div>
<div id="preloader">
    <div id="preloader-status">
        <div class="preloader-position loader"> <span></span> </div>
    </div>
</div>
<!-- Progress scroll totop -->
<div class="progress-wrap cursor-pointer">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-md">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper navbar-brand valign">
            <a href="index.html">
                <div class="logo">
                    <img src="~/assets/img/logo.png" class="logo-img" alt="">
                </div>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <span class="nav-link active"> Home <i class="ti-angle-down"></i></span>
                    <ul class="dropdown-menu last">
                        <li class="dropdown-item active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" asp-controller="About" asp-action="Index">About</a></li>
                <li class="nav-item dropdown">
                    <span class="nav-link"> Rooms & Suites <i class="ti-angle-down"></i></span>
                    <ul class="dropdown-menu last">
                        <li class="dropdown-item"><a asp-controller="Room" asp-action="Index">Rooms </a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" asp-controller="Restaurant" asp-action="Index">Restaurant</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Spa" asp-action="Index">Spa</a></li>
                <li class="nav-item dropdown">
                    <span class="nav-link"> Pages <i class="ti-angle-down"></i></span>
                    <ul class="dropdown-menu last">
                        <li class="dropdown-item"><a asp-controller="Pages" asp-action="Services">Services</a></li>
                        <li class="dropdown-item"><a asp-controller="Pages" asp-action="Facilities">Facilites</a></li>
                    </ul>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a class="nav-link">@User.Identity.Name</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="LogOut">Log Out</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                }
            </ul>
        </div>
    </div>
</nav>