@model SearchVM
<section class="section-padding bg-cream">
    <div class="container">
        <div class="section-subtitle">Check Now</div>
        <div class="section-title">Search Rooms</div>
        <div class="booking-inner clearfix">
            <form class="form1 clearfix" asp-action="Search" asp-controller="Room">
                <div class="col1 c1">
                    <div class="select1_wrapper">
                        <label>Adults</label>
                        <div class="select1_inner">
                            <select class="select2 select" asp-for="RoomTypeId" asp-items="new SelectList(Model.RoomTypes,nameof(RoomType.Id),nameof(RoomType.Name))">
                                <option>All RoomTypes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col1 c2">
                    <div class="input1_wrapper">
                        <label>MinPrice</label>
                        <div class="input1_inner">
                            <input asp-for="Minprice" type="text" class="form-control input text" placeholder="Min Price">
                        </div>
                    </div>
                </div>
                <div class="col1 c2">
                    <div class="select1_inner">
                        <label>Max Price</label>
                        <div class="input1_inner">
                            <input asp-for="Maxprice" type="text" class="form-control input text" placeholder="Max Price">
                        </div>
                    </div>
                </div>
                <div class="col1 c3">
                    <div class="input1_wrapper">
                        <label>Check in</label>
                        <div class="input1_inner">
                            <input asp-for="PeopleCapacity" type="text" class="form-control input text" placeholder="People Capacity">
                            <span asp-validation-for="PeopleCapacity"></span>
                        </div>
                    </div>
                </div>
                <div class="col1 c3">
                    <div class="select1_inner">
                        <label>Check out</label>
                        <div class="input1_inner">
                            <input asp-for="ChildrenCapacity" type="text" class="form-control input text" placeholder="Children Capacity">
                            <span asp-validation-for="ChildrenCapacity"></span>
                        </div>
                    </div>
                </div>
                <div class="col1 c3">
                    <div class="input1_wrapper">
                        <label>Start date</label>
                        <div class="input1_inner">
                            <input asp-for="StartDate" type="text" asp-format="{0:MM/dd/yyyy}" class="form-control input datepicker" placeholder="Check in" value="@DateTime.Today.AddDays(1).ToString("MM/dd/yyyy")">
                            <span asp-validation-for="StartDate"></span>
                        </div>
                    </div>
                </div>
                <div class="col1 c3">
                    <div class="input1_wrapper">
                        <label>End Date</label>
                        <div class="input1_inner">
                            <input asp-for="EndDate" type="text" asp-format="{0:MM/dd/yyyy}" class="form-control input datepicker" placeholder="Check out" value="@DateTime.Today.AddDays(2).ToString("MM/dd/yyyy")" />
                            <span asp-validation-for="EndDate"></span>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <div class="col3 c7">
                    <button type="submit" class="btn-form1-submit">Check Now</button>
                </div>
            </form>
        </div>
    </div>
</section>