<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Hotel Dashboard Template</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="shortcut icon" type="image/x-icon" href="~/admin/img/favicon.png">
	<link rel="stylesheet" href="~/admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/admin/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/admin/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/admin/css/feathericon.min.css">
	<link rel="stylehseet" href="https://cdn.oesmith.co.uk/morris-0.5.1.css">
	<link rel="stylesheet" href="~/admin/plugins/morris/morris.css">
	<link rel="stylesheet" href="~/admin/css/style.css">
</head>

<body>
	<div class="main-wrapper">
		<div class="header">
			<div class="header-left">
			   <a class="logo"><img src="~/admin/img/hotel_logo.png" width="50" height="70" alt="logo"> <span class="logoclass">CELESTIAL OASIS HOTEL</span></a>
				<a href="index.html" class="logo logo-small"> <img src="~/admin/img/hotel_logo.png" alt="Logo" width="30" height="30"> </a>
			</div>
			<a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
			<a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
		</div>
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="active"> <a asp-controller="DashBoard" asp-action="Index" asp-area="HotelAdmin"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a> </li>
						<li class="list-divider"></li>
						<li class="submenu">
							<a href="#"><i class="far fa-bell"></i> <span> RoomType </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="RoomType" asp-action="Index" asp-area="HotelAdmin">All RoomTypes</a></li>
								<li><a asp-controller="RoomType" asp-action="Create" asp-area="HotelAdmin"> Add RoomTypes </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-key"></i> <span> Rooms </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="Room" asp-action="Index" asp-area="HotelAdmin">All Rooms </a></li>
								<li><a asp-controller="Room" asp-action="Create" asp-area="HotelAdmin"> Add Rooms </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-suitcase"></i> <span> Booking </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="Booking" asp-action="Index" asp-area="HotelAdmin"> All Bookings </a></li>
								<li><a asp-controller="Booking" asp-action="PendingBooking" asp-area="HotelAdmin"> Pending Bookings </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-user"></i> <span> Profession </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="Profession" asp-action="Index" asp-area="HotelAdmin">All Profession</a></li>
								<li><a asp-controller="Profession" asp-action="Create" asp-area="HotelAdmin"> Add Profession </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-user"></i> <span> Employee </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="Employee" asp-action="Index" asp-area="HotelAdmin">All Employee</a></li>
								<li><a asp-controller="Employee" asp-action="Create" asp-area="HotelAdmin"> Add Employee </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-money-bill-alt"></i> <span> Facility </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="Facility" asp-action="Index" asp-area="HotelAdmin">All Facilities </a></li>
								<li><a asp-controller="Facility" asp-action="Create" asp-area="HotelAdmin">All Facilities >Add Facility </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-bell"></i> <span> Slider </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="Slider" asp-action="Index" asp-area="HotelAdmin">All Slider</a></li>
								<li><a asp-controller="Slider" asp-action="Create" asp-area="HotelAdmin"> Add Slider </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-bell"></i> <span> RestaurantSlider </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="RestaurantSlider" asp-action="Index" asp-area="HotelAdmin">All Slider</a></li>
								<li><a asp-controller="RestaurantSlider" asp-action="Create" asp-area="HotelAdmin"> Add Slider </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-bell"></i> <span> SpaSlider </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="SpaSlider" asp-action="Index" asp-area="HotelAdmin">All Slider</a></li>
								<li><a asp-controller="SpaSlider" asp-action="Create" asp-area="HotelAdmin"> Add Slider </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-bell"></i> <span> Restaurant </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="HotelRestaurant" asp-action="Index" asp-area="HotelAdmin">All Slider</a></li>
								<li><a asp-controller="HotelRestaurant" asp-action="Create" asp-area="HotelAdmin"> Add Slider </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-bell"></i> <span> Spa </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="HotelSpa" asp-action="Index" asp-area="HotelAdmin">All Slider</a></li>
								<li><a asp-controller="HotelSpa" asp-action="Create" asp-area="HotelAdmin"> Add Slider </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-key"></i> <span> About </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="About" asp-action="Index" asp-area="HotelAdmin"> About </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-key"></i> <span> Settings </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="Setting" asp-action="Index" asp-area="HotelAdmin">All Settings </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-cube"></i> <span> Settings </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="Services" asp-action="Index" asp-area="HotelAdmin">All Services </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-cube"></i> <span> Settings </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-controller="Faq" asp-action="Index" asp-area="HotelAdmin">All Faq </a></li>
								<li><a asp-controller="Faq" asp-action="Edit" asp-area="HotelAdmin">Add Faq </a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-wrapper">
    <div>
        @RenderBody()
    </div>
		</div>
	</div>
	<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="~/admin/js/jquery-3.5.1.min.js"></script>
	<script src="~/admin/js/popper.min.js"></script>
	<script src="~/admin/js/bootstrap.min.js"></script>
	<script src="~/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~/admin/plugins/raphael/raphael.min.js"></script>
	<script src="~/admin/plugins/morris/morris.min.js"></script>
	<script src="~/admin/js/chart.morris.js"></script>
	<script src="~/admin/js/script.js"></script>
</body>

</html>

