
@{
    ViewData["Title"] = "Services";
}
<!-- Services -->
<section class="services section-padding">
    <div class="container">
        @await Component.InvokeAsync("Services")
    </div>
</section>
