
@{
    ViewData["Title"] = "Services";
}
<!-- Header Banner -->
@await Component.InvokeAsync("ServiceHeader")
<!-- Services -->
<section class="services section-padding">
    <div class="container">
        @await Component.InvokeAsync("Services")
    </div>
</section>
