
@{
    ViewData["Title"] = "Team";
}
<!-- Team -->
<section class="facilties section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Our Services</div>
                <div class="section-title">Hotel Facilities</div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Team")
        </div>
    </div>
</section>