
@{
    ViewData["Title"] = "Team";
}
<!-- Header Banner -->
@await Component.InvokeAsync("TeamHeader")
<!-- Team -->
<section class="team section-padding bg-cream">
    <div class="container">
        <div class="row">
            <div class="col-md-12 owl-carousel owl-theme">
                @await Component.InvokeAsync("Team")
            </div>
        </div>
    </div>
</section>
