
@{
    ViewData["Title"] = "Index";
}
<!-- Booking Search -->
@await Component.InvokeAsync("Search")
<!--Rooms-->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Images</div>
                <div class="section-title">Image Gallery</div>
            </div>
            @await Component.InvokeAsync("Room")
        </div>
    </div>
</section>