@model IEnumerable<RoomType>
@foreach(var item in Model)
{
    <div class="col-md-4">
        <div class="item">
            <div class="position-re o-hidden" >
                <img src="~/assets/img/room/@item.Image" alt="" >
            </div> 
            <span class="category">Book</span>
            <div class="con">
                <h5><a href="room-details.html">@item.Name</a> </h5>
                <div class="line"></div>
                <div class="row facilities">
                </div>
            </div>
        </div>
    </div>
}
