@model IEnumerable<RestaurantSlider>
@foreach(var item in Model)
{
    <div class="text-center item bg-img" data-overlay-dark="3" data-background="../../assets/img/restaurant/@item.Image"></div>
}